# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
venv.bak/

# Project Data (Ignore raw PDFs, text dumps, etc.)
data/annual_reports/
data/historical_reports/
data/interim/
data/raw/
data/PensioenPro/
data/transitieplannen/
logs/

# Do NOT ignore the processed database and excel exports
!data/processed/pension_funds.db
!data/processed/pension_funds.xlsx
